*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f4f4f4;
    
}
.contenu{
    width: 100%;
    height: 10%;
    color: blue;
}
header{
    background-color: rgb(75, 75, 249);
    margin: 0; 
    padding: 10px; 
    display: flex;
    align-items: center;
}
.premier{
    margin-left: 20%;
}
.texte{
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    margin-left: 10%;
}
nav{
    
}
.titres{
    display: flex;
    list-style-type: none;
    gap: 20px;
}
ul.titres > li{
    position: relative;
}
.debut{
    padding: 20px;
    margin: 0px;
    border-left: 1px white solid;
}
.l{
    text-decoration: none;
    transition: text-shadow 0.3s ease;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
.l:hover{
    text-shadow: 0 0 5px white;
}
i{
   margin-left: 10px;
}
span{
    margin-left: 5px;
}
.attache{
    margin: 0;
    padding: 10px; 
    display: flex;
    align-items: center;
}
.logo{
    width: 5%;
    height: auto;
}
.ll{
    text-decoration: none;
    transition: text-shadow 0.3s ease;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}
.ll:hover{
    text-shadow: 0 0 5px white;
}
.deuxieme{
    margin-right: 10px;
}
.ll:hover{
    color: blue;
}

.font{
    background-color: rgb(56, 56, 245);
    display: flex;
    align-items: stretch;
    height: 100%;
    padding: 50px;
}
.pages{
    margin-right: 50px;
    flex: 1;
}
.politique{
    margin-right: 50px;
    flex: 1;
    position: relative;
}
.reseaux{
    
    flex: 1;
}
.paiement{
    flex: 1;
    
}
h2{
    margin-bottom: 20px;
    color: white;
}
.pag{
    margin-bottom: 5px;
    border-bottom: 1px white solid;
    display: inline-block;
    padding-bottom: 10px;
}
.les_pages{
    list-style-type: none ;
    color: white;
}

.parametres{
    margin-top: 20px;

}
#page{
    margin-bottom: 10px;
}
.rap{
    background-color: rgb(28, 28, 224);
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    width: 200px;

    
}
.propos{
    color: white;
    margin: 0 80px 0 0;
}
.un_titre{
    margin-top: 10px;
}
button {
    width: 70%; 
    padding: 10px; 
    border: none;
    background-color: aliceblue;
    color: black; 
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}
button:hover {
    transform: scale(0.9);
}
.rap:hover{
    background-color: white;
    color: black;
}
.image_tarifs{
    padding: 100px;
    background-image: url('images/Capture d’écran_6-12-2024_221129_login.formation-tcfcanada.com.jpeg');
    background-size: cover;
}
.bleu{
    color: blue;
    margin-left: 10px;

}
.title{
    display: flex;
    align-items: center;
    margin-left: 30%;
    margin-top: 30px;
}
.aligne{
    color: rgb(47, 46, 46);
    margin-left: 10px;
}
.paragraphe{
    margin-left: 35%;
    font-size: 20px;
    color: rgb(94, 93, 93);
    margin-top: -5px;
}
.les_tarifs{
    display: flex;
    margin-left: 18%;
    margin-top: 45px;
}
#cadre_1{
    margin-bottom: 120px;
  }
#cadre_2{
    margin-bottom: 120px;
    width: 320px;
  }
.cadre{
    width: 250px;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid blue;
    text-align: center;
    margin-right: 20px;
    transition: transform 0.5s;
  }

  .bronze {
    background-color: #233cfa;
    color: #fff;
    padding: 30px 15px;
    position: relative;
  }

  .bronze h2 {
    margin: 0;
    font-size: 24px;
  }
  .bronze .ribban {
    position: absolute;
    top: 20;
    right: 0;
    background-color: #f99843;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 20px;
    transform: rotate(37deg);
    transform-origin: top right;
    text-transform: uppercase;
  }
  .ribban{
    margin-right: -15px;
  }
  #ribban_2{
    background-color: rgb(170, 168, 168);
  }
  #ribban_3{
    background-color: #e47412;
  }
  #ribban_4{
    background-color: gray;
  }
  .prix {
    background-color: #fff;
    padding: 20px 10px;
  }

  .prix .price {
    font-size: 48px;
    color: #444;
    margin: 0;
  }

  .prix .price small {
    font-size: 18px;
    vertical-align: top;
  }
.jour{
    color: #056be0;
    font-size: 25PX;
}
#taxe{
    color: #696666;
}
.taxe{
    margin-bottom: 20px;
}
hr{
    width: 50%;
    margin-left: 55px;
    margin-bottom: 20px;
}
.ligne{
    margin-bottom: 70px;
}
.lignes{
    margin-bottom: 180px;
}
.abonner{
    background-color: #007bff;
    padding: 15px;
    width: 150px;
    margin-left: 30px;
    color: white;
    border-radius: 25px;
    margin-bottom: 20px;
    cursor: pointer;
}
.abonner_2{
    background-color: #007bff;
    padding: 15px;
    width: 150px;
    margin-left: 70px;
    color: white;
    border-radius: 25px;
    margin-bottom: 20px;
    cursor: pointer;
}
.cadre:hover{
    transform: translateY(-20px);
}
.cadre:hover ~.cadre{
    transform: translateY(20px);
}
.couleur{
    color: #0f1de7;
}
.espace{
    height: 30px;
}
.dero{
    display: none;
    color: #007bff;
    position: absolute;
    background-color: white;
    padding: 10px;
    list-style: none;
    margin: 0;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    z-index: 1000;
}
.deuxieme:hover .dero{
    display: block;
}
.dero li{
    margin: 5px 0;
    cursor: pointer;
}
.dero li a{
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    display: block;

}
.dero li a:hover{
    background-color: #f0f0f0;
    color: #000;
}
.llll:hover{
    text-shadow: 0 0 5px white;
}
.llll:hover{
    color: #96acf3;
}
